<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'polls/bootstrap.css'  %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'polls/style.css'  %}">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-success mb-5">
    <div class="container">
        <a class="navbar-brand" href="#">Polls</a>
        <button class="navbar-toggler d-lg-none" type="button"
                data-toggle="collapse" data-target="#collapsibleNavId"
                aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
             </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text"
                       placeholder="Search">
                <button class="btn btn-outline-light my-2 my-sm-0"
                        type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>
{% if latest_question_list %}
    <div class="container mt-5">
        <h1>Questions</h1>
         <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url  'polls:detail'  question.id %}">
                    {{ question.question_text }}
                </a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    </div>

</body>
</html>